/* Page background */
.back {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #27a6fa 0%, #fe6060 100%);
}

/* Main content box */
.about-section {
  max-width: 700px;
  width: 100%;
  padding: 30px;
  background-color: #a3a3ac44;
  border: 1px solid rgb(241, 95, 102);
  border-radius: 8px;
}

/* Title */
.about-title {
  font-family: cursive;
  text-align: center;
  margin-bottom: 20px;
  color: #de997d;
  font-size: 28px;
}

/* Text */
.about-text {
  color: #dcdcdc;
  line-height: 1.6;
  margin-bottom: 14px;
  font-size:large;
}

/* Responsive for tablets */
@media (max-width: 768px) {
  .about-section {
    padding: 24px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 14px;
  }
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .about-section {
    padding: 20px;
  }

  .about-title {
    font-size: 22px;
  }

  .about-text {
    font-size: 13.5px;
  }
}
